body {
  margin: 0px;
  padding: 0px;
}

.heading {
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: beige;
  color: blueviolet;
  text-shadow: 2px 2px 2px violet;
  padding: 20px 20px;
}